.u-section-1 {
  background-image: url("images/879c4225-202c-4542-aed8-71153b681b38.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 340px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 131px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  min-height: 827px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 126px 26px 0;
}

.u-section-2 .u-group-1 {
  min-height: 222px;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 28.8px;
  font-weight: 400;
  margin: 43px 19px 0 35px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 70px auto 0 24px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 18px;
}

.u-section-2 .u-image-1 {
  width: 349px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 717px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 85px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 302px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-bottom: 21px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 32.21% 50%;
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 739px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 465px;
  }
}